# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# misc
*.swp
.DS_Store
.env
npm-debug.log
.idea
token
.npm-install-changed.json
query
manifest.json
